<article>
  <h2 class="title">{{blogPost.title}}</h2>
  <p class="content">{{blogPost.content}}</p>
  {{!-- Need to find a way to reference username using BlogPost's foreign key association with User --}}
  <p class="username">{{blogPost.username}}</p>
  <p id="timestamp">{{blogPost.timestamp}}</p>
</article>

{{!-- might need to add .js to the src path --}}
<script src="/js/comment-post"></script>