<article>
  <div>
    <h2 class="title">{{blogPost.title}}</h2>
  </div>

  <div>
    <p class="content">{{blogPost.content}}</p>
  </div>

  <div>
    <p>Created by: {{blogPost.user.name}}</p>
    <p>Created on: {{format_date blogPost.timestamp}}</p>
  </div>
</article>