<div>
  <h1 class="text-black">Dashboard</h1>

  <section>
    <h3 class="text-black">New Post</h3>

    <form class="new-blogpost-form">
      <div>
        <label for="post-title" class="text-black">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-content" class="text-black">Content</label>
        <textarea id="post-content" name="post-content"></textarea>
      </div>
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </section>

  {{#if blogPosts.length}}
  <section class="blogpost-list">
    <h3 class="text-black">My Posts</h3>

    {{#each blogPosts as |blogPost|}}
    <article>
      <h2>
        <a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a>
      </h2>

      <div>
        <p>Created on: {{format_date blogPost.timestamp}}</p>
      </div>

      <div>
        <button data-id="{{blogPost.id}}">Delete Post</button>
      </div>
    </article>
    {{/each}}
  </section>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>