<section class="user-blog-posts">
  <div>
    <h1>Dashboard</h1>
  </div>
  <div>
    {{if blogPosts}}
    {{#each blogPosts as |blogPost|}}

    {{/each}}
    {{/if}}
  </div>
</section>

<script src="/js/edit-post"></script>