<section class="existing-blog-posts">
  <div>
    <h1>Home</h1>
  </div>
  
  {{#each blogPosts as |blogPost|}}
  <article>
    <h2>
      <a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a>
    </h2>

    <div>
      <p>Created by: {{blogPost.user.name}}</p>
      <p>Created on: {{format_date blogPost.timestamp}}</p>
    </div>
  </article>
  {{/each}}
</section>