<section class="existing-blog-posts">
  <div>
    <h1>Home</h1>
  </div>
  {{#each blogPosts as |blogPost|}}
  <article>
    <h2 class="title">{{blogPost.title}}</h2>
    <p id="timestamp">{{blogPost.timestamp}}</p>
  </article>
  {{/each}}
</section>

<script src="../public/js/show-post.js"></script>