<section class="login-container">
  {{!-- send form data to a file via the action --}}
  <form action="" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="content">Content</label>
    <input type="text" name="content" id="content">
    <br>
    <input type="submit" value="Submit">
  </form>
</section>

<script src="/js/login"></script>