<section class="existing-blog-posts">
  <div class="post-detailed">
    <h2 class="title">{{blogPost.title}}</h2>
    <p class="content">{{blogPost.content}}</p>
    <p class="username">{{blogPost.username}}</p>
    <p id="timestamp">{{blogPost.timestamp}}</p>
  </div>
</section>

{{!-- might need to add .js to the src path --}}
<script src="/js/comment-post"></script>